<form
  *ngIf="projectForm"
  [formGroup]="projectForm"
  (ngSubmit)="saveProject()"
  class="project-form"
>
  <h2>{{ isEditMode ? "Update Project:" : "Create Project:" }}</h2>
  <label>
    Project Name:
    <input type="text" formControlName="name" />
    <div
      class="error"
      *ngIf="
        projectForm.get('name')?.touched && projectForm.get('name')?.invalid
      "
    >
      Project name is required.
    </div>
  </label>

  <label>
    Description:
    <textarea formControlName="description"></textarea>
    <div
      class="error"
      *ngIf="
        projectForm.get('description')?.touched &&
        projectForm.get('description')?.invalid
      "
    >
      Description is required.
    </div>
  </label>

  <label>
    Deadline:
    <input type="date" formControlName="deadline" />
    <div
      class="error"
      *ngIf="
        projectForm.get('deadline')?.touched &&
        projectForm.get('deadline')?.invalid
      "
    >
      Deadline is required.
    </div>
  </label>

  <label>
    Assign Members:
    <div formArrayName="memberIds" class="checkbox-group">
      <label *ngFor="let user of users; let i = index">
        <input type="checkbox" [formControlName]="i" />
        {{ user.name }} <br />
        ({{ user.role }})
      </label>
    </div>
  </label>

  <button mat-button type="submit" [disabled]="projectForm.invalid">
    {{ isEditMode ? "Update Project" : "Create Project" }}
  </button>
</form>
