<form
  *ngIf="projectForm"
  [formGroup]="projectForm"
  (ngSubmit)="saveProject()"
  class="project-form"
>
  <h2>{{ isEditMode ? "Update Project:" : "Create Project:" }}</h2>

  <div class="customdiv">
    <label for="name">Project Name:</label>
    <input id="name" type="text" formControlName="name" />
    <div
      class="error"
      *ngIf="
        projectForm.get('name')?.touched && projectForm.get('name')?.invalid
      "
    >
      Project name is required.
    </div>
  </div>

  <div class="customdiv">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
    <div
      class="error"
      *ngIf="
        projectForm.get('description')?.touched &&
        projectForm.get('description')?.invalid
      "
    >
      Description is required.
    </div>
  </div>

  <div class="customdiv">
    <label for="deadline">Deadline:</label>
    <input id="deadline" type="date" formControlName="deadline" />
    <div
      class="error"
      *ngIf="
        projectForm.get('deadline')?.touched &&
        projectForm.get('deadline')?.invalid
      "
    >
      Deadline is required.
    </div>
  </div>

  <div>
    <label>Assign Members:</label>
    <div formArrayName="memberIds" class="checkbox-group">
      <div *ngFor="let user of users; let i = index" class="checkbox-item">
        <label>
          <input type="checkbox" [formControlName]="i" />
          {{ user.name }} ({{ user.role }})
        </label>
      </div>
    </div>
  </div>

  <div class="projectFormButtons">
    <button mat-button type="submit" [disabled]="projectForm.invalid">
      {{ isEditMode ? "Update Project" : "Create Project" }}
    </button>
    <button mat-button type="button" (click)="cancelProject()">Cancel</button>
  </div>
</form>
