<p>user-form creates or edits user</p>

<form
  *ngIf="userForm"
  [formGroup]="userForm"
  (ngSubmit)="saveUser()"
  class="user-form"
>
  <h2>{{ isEditMode ? "Update User:" : "Create User:" }}</h2>

  <div class="customdiv">
    <label for="name">User Name:</label>
    <input id="name" type="text" formControlName="name" />
    <div
      class="error"
      *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid"
    >
      User Name is required
    </div>
  </div>

  <div class="customdiv">
    <label for="role">User Role:</label>
    <input id="role" type="text" formControlName="role" />
    <div
      class="error"
      *ngIf="userForm.get('role')?.touched && userForm.get('role')?.invalid"
    >
      User Role required
    </div>
  </div>

  <div class="customdiv">
    <label for="email">Email Address:</label>
    <input id="email" type="email" formControlName="email" />
    <div
      class="error"
      *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid"
    >
      Email address required
    </div>
  </div>

  <div class="userFormButtons">
    <button mat-button type="submit" [disabled]="userForm.invalid">
      {{ isEditMode ? "Update User" : "Create User" }}
    </button>
    <button mat-button type="button" (click)="cancelUser()">Cancel</button>
  </div>
</form>
