<h1>Dashboard</h1>

<div class="actions">
  <button mat-button routerLink="/projects/new">
    <mat-icon>add</mat-icon>
    Create Project
  </button>
  <button mat-button routerLink="/tasks/new">
    <mat-icon>add</mat-icon>
    Create Task
  </button>
</div>

<section class="overview">
  <div class="card">
    <h3>Projects Overview</h3>
    <p>Number of projects: 10</p>
    <p>Tasks open: 3</p>
  </div>

  <div class="card">
    <h3>Tasks Overview</h3>
    <p>Tasks in progress: 5</p>
    <p>Upcoming Deadlines: 8</p>
  </div>
</section>
